/data/*
!/data/example_plot.fasta
!/data/backtrim_01/
/data/backtrim_01/*
!/data/backtrim_01/LUC.cds.aln.fasta
!/data/backtrim_01/pep.clipkit.fasta
!/data/backtrim_01/out.fasta
!/data/backtrim_02/
/data/backtrim_02/*
!/data/backtrim_02/untrimmed_codon.fasta
!/data/backtrim_02/trimmed_aa.fasta
!/data/backtrim_02/trimmed_codon.fasta
!/data/gapjust_01/
/data/gapjust_01/*
!/data/gapjust_01/input.fasta
!/data/gapjust_01/input.gff
!/data/gapjust_01/output.fasta
!/data/gapjust_01/output.gff
!/data/hammer_01/
/data/hammer_01/*
!/data/hammer_01/alignment.fasta
!/data/intersection_01/
/data/intersection_01/*
!/data/intersection_01/input1.fasta
!/data/intersection_01/input2.fasta
!/data/pad_01/
/data/pad_01/*
!/data/pad_01/input.fasta
!/data/pad_01/output.fasta
!/data/pad_02/
/data/pad_02/*
!/data/pad_02/input.fasta
!/data/pad_02/output.fasta
!/data/parsegb_01/
/data/parsegb_01/*
!/data/parsegb_01/input.gb
!/data/parsegb_01/output.fasta
!/data/rmseq_01/
/data/rmseq_01/*
!/data/rmseq_01/input.fasta
!/data/rmseq_01/output.fasta
!/data/split_01/
/data/split_01/*
!/data/split_01/input.fasta
!/data/split_01/output_1st_codon_positions.fasta
!/data/split_01/output_2nd_codon_positions.fasta
!/data/split_01/output_3rd_codon_positions.fasta
/.coverage
/.coverage.*
/.pytest_cache/
/build/
/dist/
/*.egg-info/
**/__pycache__/
*.py[cod]
/.vscode/*
/.DS_Store
/*/.DS_Store
/cdskit.iml
cdskit/.DS_Store
