/data/*
/.coverage
/.coverage.*
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.venv/
/.venvs/
/.artifacts/
/coverage.json
/benchmark.json
/htmlcov/
/build/
/dist/
/*.egg-info/
**/__pycache__/
*.py[cod]
/.vscode/*
/.DS_Store
/*/.DS_Store
/cdskit.iml
cdskit/.DS_Store
